
body {
  background-color: blanchedalmond;
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
}

section {
    display: flex;
}

#bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.button {
  background-color: black;
  border-radius: 8px;
  padding: 10px 16px;
  align-items: center;
  border: 0;
  color: #ffffff;
  font-weight: 500;
}

#gamearea,
#emptyarea {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  width: 260px;
  height: 260px;
  gap: 5px; 
  border: 1px solid black;
  background-color: lightgray;
  padding:5px;
}

.grid-item {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border: 3px solid #ddd;
  cursor: pointer;
} 

.slot-item,
.empty-item {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
} 

.play-area {
  display: flex;
  gap: 50px;         
  justify-content: center;
  margin-top: 20px;
}

.selected {
  outline: 3px solid salmon;
}

#message {
  align-items: center;
  
}
