
body {
  background-color: blanchedalmond;
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
}

section {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
  background-color: black;
  border-radius: 8px;
  padding: 10px 16px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
}

.gamearea {
  position: relative;
  width: 360px;
  height: 360px;
  border: 2px solid #000;
  background: #f4f4f4;
}

.piece {
  /*styling of the puzzle*/
  position: absolute;
}